<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="centrar">Franco Jorquera - Cristian Jerez</ion-title>
    <ion-title class="centrar">All right Reserved © 2021</ion-title>
  </ion-toolbar>
</ion-footer>