<app-header>

</app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-title class="ion-margin" class="centrar" >Pagina No Encontrada!</ion-title>
  </ion-item>

  <ion-img src="assets/img/error404.svg"></ion-img>

  <ion-button routerLink="/"  class="ion-margin-top azul" expand="block">
    <ion-icon slot="start"  name="home"></ion-icon>
    Volver al Inicio
  </ion-button>
</ion-content>

<app-footer>

</app-footer>