<app-header>

</app-header>

<ion-content>
  <ion-toolbar>
    <ion-title class="ion-margin azultexto">Bienvenido {{nombreUsuario}}!</ion-title>
    
  </ion-toolbar>

  <ion-card>
    <ion-button expand="block" class="ion-margin azul" (click)="tomarFoto()">
      Tomar Foto
    </ion-button>
    <ion-img [src]="ruta" style="width: 100%; height: 60%;"></ion-img>
  </ion-card>

  <ion-card>
    <ion-button expand="block" class="ion-margin azul" (click)="botonQr()">
      Leer QR
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-button expand="block" class="ion-margin azul" (click)="cambiarContrasena()">
      Cambiar Contraseña
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button expand="block" class="ion-margin azul" (click)="cerrarSesion()">
      Cerrar Sesion
    </ion-button>
  </ion-card>
  
</ion-content>

<app-footer>

</app-footer>