<app-header>

</app-header>

<ion-content>
  <ion-item>
    <ion-title class="ion-margin centrar azultexto" >Iniciar Sesion</ion-title>
  </ion-item>

  <ion-card class="ion-margin">

    <ion-item class="ion-margin azultexto">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="modeloUsuario"></ion-input>
    </ion-item>

    <ion-item class="ion-margin azultexto">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="modeloContrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin azul" (click)="validacionDbAndApi()">
        Confirmar
    </ion-button>

    <ion-item>
      <ion-text class="centrar" (click)="verFormularioRegistro()">
        <a>Registrarse</a>
      </ion-text>
    </ion-item>


  </ion-card>

</ion-content>


<app-footer>

</app-footer>