<app-header>
  
</app-header>

<ion-content>
  <ion-toolbar>
    <ion-title class="ion-margin centrar azultexto">Cambiar Contraseña</ion-title>
  </ion-toolbar>
  
  <ion-card>
    <ion-item class="ion-margin">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="modeloUsuario"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="modeloContrasena"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin azul" (click)="validarCambio()">
      Confirmar
    </ion-button>

    <ion-button expand="block" class="ion-margin azul" (click)="cancelarCambio()">
      Cancelar
    </ion-button>
  </ion-card>
</ion-content>

<app-footer>

</app-footer>
